<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= display %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Meta contents inserted by webpack plugin (see package.json) -->
		<meta name="description" content="<%= description %>">
		<meta name="author" content="<%= author %>">
		<meta name="keywords" content="<%= keywords %>">
		<meta name="application" content="<%= name %>">
		<meta name="version" content="<%= version %>">
		<!-- Favicon & stylesheets inserted by webpack plugin -->
	</head>
	<body>
		<noscript><code>Your browser has to support scripts for this web application to work!</code></noscript>
		<div id="app"></div>
		<!-- Scripts inserted by webpack plugin -->
	</body>
</html>